<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    <section>
      <div class="row">
        <h1>Team</h1>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="" alt="Sofia Ferraz">
            </div>
            <h2>Sofia Ferraz</h2>
            <p class="role">National Coordinator</p>
            <div class="mail">
              <a href="mailto:sofia.ferraz@scaportugal.coffee">
                <i>✉️ sofia.ferraz@scaportugal.coffee</i>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="" alt="Elizaveta Maximova">
            </div>
            <h2>Elizaveta Maximova</h2>
            <p class="role">Events Coordinator</p>
            <div class="mail">
              <a href="mailto:elizaveta.maximova@scaportugal.coffee">
                <i>✉️ elizaveta.maximova@scaportugal.coffee</i>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="" alt="Shannon Lawn">
            </div>
            <h2>Shannon Lawn</h2>
            <p class="role">Marketing & Communications Coordinator</p>
            <div class="mail">
              <a href="mailto:shannon.lawn@scaportugal.coffee">
                <i>✉️ shannon.lawn@scaportugal.coffee</i>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="" alt="Felipe Orioli">
            </div>
            <h2>Felipe Orioli</h2>
            <p class="role">Education Coordinator</p>
            <div class="mail">
              <a href="mailto:felipe.orioli@scaportugal.coffee">
                <i>✉️ felipe.orioli@scaportugal.coffee</i>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="" alt="Paulo Assunção">
            </div>
            <h2>Paulo Assunção</h2>
            <p class="role">Community Coordinator</p>
            <div class="mail">
              <a href="mailto:paulo.assuncao@scaportugal.coffee">
                <i>✉️ paulo.assuncao@scaportugal.coffee</i>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="" alt="Manuel Tiago Pereira">
            </div>
            <h2>Manuel Tiago Pereira</h2>
            <p class="role">Judges Coordinator</p>
            <div class="mail">
              <a href="mailto:manuel.pereira@scaportugal.coffee">
                <i>✉️ manuel.pereira@scaportugal.coffee</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
